<header>
  <%= image_tag("baseball.jpg", :alt => "Baseball Heaven", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Standings", standings_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>